:root {

    /* Colors */
    --color-dark: #1A1C1C;
    --color-light: #F3F3F3;
    --color-red: #BC0100;
    --color-grey: #DADADA;

    /* Fonts */
    --font-xl: 700 clamp(6.875rem, 5vw, 7.5rem) "Roboto Condensed", sans-serif;
    --font-lg: 400 clamp(1.5rem, 5vw, 2rem) "Roboto Condensed", sans-serif;
    --font-md: 400 clamp(1.1875rem, 5vw, 1.5rem) "Roboto Condensed", sans-serif;
    --font-sm: 400 clamp(.0625rem, 5vw, 1.1875rem) "Roboto Condensed", sans-serif;
    --font-xs: 400 clamp(.875rem, 5vw, 1rem) "Roboto Condensed", sans-serif;

    --font-xl-italic: italic 700 clamp(3rem, 5vw, 4rem) "Roboto Condensed", sans-serif;
    --font-lg-italic: italic 400 clamp(1.5rem, 5vw, 2rem) "Roboto Condensed", sans-serif;
    --font-md-italic: italic 400 clamp(1.1875rem, 5vw, 1.5rem) "Roboto Condensed", sans-serif;
    --font-sm-italic: italic 400 clamp(.0625rem, 5vw, 1.1875rem) "Roboto Condensed", sans-serif;
    --font-xs-italic: italic 400 clamp(.875rem, 5vw, 1rem) "Roboto Condensed", sans-serif;

    --font-body: 400 clamp(1.1875rem, 5vw, 1.5rem) "Roboto Condensed", sans-serif;
    --font-link: 400 clamp(1.1875rem, 5vw, 1.5rem) "Roboto Condensed", sans-serif;

    /* Sizes */
    --size-icon-mid: 1.5rem;

    --size-max-width: 60.25rem;
    --size-max-widht-xl: 90rem;

    --size-min-width-sm: 13.125rem;
    --size-min-width: 20rem;

    /* Spacing */
    --spacing-xxl: 4rem;
    --spacing-xl: 3rem;
    --spacing-lg: 2rem;
    --spacing-md: 1rem;
    --spacing-sm: .625rem;

    /* Radius*/
    --radius-sm: 5px;
    --radius-full: 100px;

}

/*Reset*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    color: var(--color-dark);
    font: var(--font-body);
}

img {
    display: inline-block;
    max-width: 100%;
    width: 100%;
    border-radius: var(--radius-sm);
}

a {
    text-decoration: none;
    color: inherit;
    font: var(--font-link);
}

ul,
ol {
    list-style: none;
}

h1,
.title-xl {
    font: var(--font-xl);
}

.title-xl-italic {
    font: var(--font-xl-italic) 
}

h2,
.title-lg {
    font: var(--font-lg);
}

.title-lg-italic {
    font: var(--font-lg-italic)
}

h3,
.title-md {
    font: var(--font-md);
}

.title-md-italic {
    font: var(--font-md-italic);
}

h4,
.title-sm {
    font: var(--font-sm);
}

.title-sm-italic {
    font: var(--font-sm-italic);
}

input:not([type="checkbox"]),
select,
textarea {
    padding: 16px 19px;
    border-radius: var(--radius-full);
    border: none;
    background-color: var(--color-light);
    width: 100%;
}

select {
    border-right: 19px solid var(--color-light);
}

label:not([for="acceptance"]) {
    display: none;
}

.block {
    max-width: var(--size-max-width);
    margin: 0 auto;
    width: 100%;
}

.section {
    padding: var(--spacing-xxl) var(--spacing-md);
    max-width: var(--size-max-width);
    margin: 0 auto;

    animation: fadein 1s linear 1 forwards;
    animation-timeline: view(block 60% 10%);

}

.form-row {
    display: flex;
    gap: var(--spacing-md);
    flex-wrap: wrap;

    & .form-field {
        flex: 1 1 150px;
        /*Grow Shrink Basis*/
    }

}

.form-field {


    &.form-field--acceptance {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: var(--spacing-md);
    }

}



.btn {
    display: inline-block;
    padding: var(--spacing-sm) var(--spacing-lg);
    border-radius: none;
    text-align: center;

    &.btn--light {
        /*Opcion de boton 1*/
        color: var(--color-dark);
        background-color: var(--color-light);
    }

    &.btn--dark {
        /*Opcion de boton 2*/
        color: var(--color-light);
        background-color: var(--color-dark);
    }

    &.btn--red {
        background-color: var(--color-red);
        color: var(--color-light);
        border: 3px solid var(--color-dark);
        width: 100%;
        padding: var(--spacing-md);
    }

    @media (max-width: 640px) {
        width: 100%;

        &.btn--center {
            display: block;
            width: fit-content;
            margin-inline: auto;
        }
    }


}

/* Header */ 

header {
    position:sticky;
    top: 0rem;
    z-index: 10;
    background-color: rgba(185, 185, 185, 0.5);

}

.header__content {
    max-width: 100%;
    height: 4rem;
    padding: var(--spacing-md);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:  auto;
    gap: 7rem;

}

nav {
    & ul {
        display: flex;
        gap: var(--spacing-lg);

        & li {}
    }

    /*@media (max-width: 900px) {
        display: none;
    }*/
}
/* Header */ 

/* Hero */

/* Hero */